.container{
    text-align: center;
   
    
    
}
table{
    margin: auto;
    padding-bottom: 10px;
}
input{
    font-size: 34px;
    border: 2px solid black;
    border-radius: 20px;
    height: 45px;
}
button{
    font-size: 25px;
    background: coral;
    width: 103px;
    height: 45px;
    border-radius: 20px;

}
.calculator{
    display: inline-block;
    background-color: rgb(92, 204, 167);
    padding: 20px;
    border-radius: 20px;
}